body{
    background: #ddd8d8;
}
form {
    position: relative;
    /* display: block; */
    /* background: rgb(133, 173, 173); */
    background: rgb(235, 235, 224);
    /* border: 3px solid rgb(71, 107, 107); */
    border: 3px solid #d3d3d3;
    width: 100%;
    height: 100%;
    /* margin: 0,2; */
    border-radius: 15px;
    /* z-index: -1; */
   
}

input{
    width: 26%;
    /* width: 50px; */
    height: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    /* display: block; */
   border-top-style: none;
   border-bottom-style:  solid ;
   border-left-style: none;
   border-right-style: none;
   background: transparent;
   border-width: 1.1px;
  border-color: #962390;
  color: #962390;
  padding-right: 8%;
}
input:focus{   /* to remove the text box focus */
    outline:none;
    
}
 ::placeholder{ /* used to change the hint colour in text box */
    color: #962390;
}


.button_register{
    margin-top: 40px;
    margin-bottom: 25px;
    width: 30%;
    height: 35px;;
    display: block;
    color:#fff;
    font-size: 20px;
    background: #962390;
    border-radius: 15px;
    border: none;
}
button:focus{
    outline: none;
}


.div_class_register{
    position: relative;
    /* display: block; */
    /* padding-left: 30%; */
    /* padding-top: 10%; */
    /* margin: 50px,auto; */
    /* margin: 50,30; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom:30px;
    width :1150px;
    /* height :620px; */
    height: 100%;

    
}



.form_div_class{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom:80px;
    
}
.form_div_class_register{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom:20px;
    
}
label{
    color: #962390;
    font-size: 20px;
}

.imgdiv{
    display: inline-block;
    background-color: rgb(247, 0, 255);
    width: 120px;
    height: 120px;
    margin-right: 15%;
    margin-top: 2%;
}


.row { 
    display: flex;
    flex-wrap: wrap;
    
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 40%; /* Set the width of the sidebar */
    /* background-color:#d3d3d3; Grey background color */
    padding: 10px; /* Some padding */

}

/* Main column */
.main { 
    flex: 60%; /* Set the width of the main content */
    /* background-color: #f1f1f1; White background color */
    padding: 10px; /* Some padding */
}
.other_input{
    width: 84%;
    margin-right: 10%;
}